



The fish we are catching today is <%= @fish %>
<%= simple_form_for @tweet  do |f| %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>

<hr />

<% if @tweet.errors.any? %>
	<div class="alert alert-danger" role="alert">

		<% @tweet.errors.each do |attribute, error_message| %>
	      
	    	 <%= error_message %> 

		<% end %>  
	</div>
<% end %>

<%= form_for @tweet do |f| %>
	<div class="form-group">
		<%= f.text_field :content, class: 'form-control', placeholder: "Write your tweet now" %>
	</div>
	<%= f.submit "Submit", class: 'btn btn-default'%>

<% end %>
